src/main/resources/wsdl/edmpraxis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://ets.org/edm/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://ets.org/edm/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
  <s:schema elementFormDefault="qualified" targetNamespace="https://ets.org/edm/webservices/">
    <s:element name="GetScoreReportsInCDScoreLinkFormat">
      <s:complexType>
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="clientUserId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="clientPassword" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="reportDate" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strSubProgram" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:element>
    <s:element name="GetScoreReportsInCDScoreLinkFormatResponse">
      <s:complexType>
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GetScoreReportsInCDScoreLinkFormatResult" type="s:base64Binary"/>
        </s:sequence>
      </s:complexType>
    </s:element>
    <s:element name="GetHistoryReport">
      <s:complexType>
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="clientUserId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="clientPassword" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int"/>
        </s:sequence>
      </s:complexType>
    </s:element>
    <s:element name="GetHistoryReportResponse">
      <s:complexType>
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GetHistoryReportResult" type="s:base64Binary"/>
        </s:sequence>
      </s:complexType>
    </s:element>
    <s:element name="GetHistoryReportGivenCandidate">
      <s:complexType>
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="clientUserId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="clientPassword" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="candidateId" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:element>
    <s:element name="GetHistoryReportGivenCandidateResponse">
      <s:complexType>
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GetHistoryReportGivenCandidateResult" type="s:base64Binary"/>
        </s:sequence>
      </s:complexType>
    </s:element>
    <s:element name="GetNewScoreReports">
      <s:complexType>
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="clientUserId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="clientPassword" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strSubProgram" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:element>
    <s:element name="GetNewScoreReportsResponse">
      <s:complexType>
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GetNewScoreReportsResult" type="s:base64Binary"/>
        </s:sequence>
      </s:complexType>
    </s:element>
    <s:element name="GetReportingDates">
      <s:complexType>
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="clientUserId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="clientPassword" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:element>
    <s:element name="GetReportingDatesResponse">
      <s:complexType>
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GetReportingDatesResult" type="s:base64Binary"/>
        </s:sequence>
      </s:complexType>
    </s:element>
    <s:element name="GetScoreReportsGivenReportingDate">
      <s:complexType>
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="clientUserId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="clientPassword" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="reportDate" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strSubProgram" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:element>
    <s:element name="GetScoreReportsGivenReportingDateResponse">
      <s:complexType>
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GetScoreReportsGivenReportingDateResult" type="s:base64Binary"/>
        </s:sequence>
      </s:complexType>
    </s:element>
  </s:schema>
</wsdl:types>
<wsdl:message name="GetScoreReportsInCDScoreLinkFormatSoapIn">
  <wsdl:part name="parameters" element="tns:GetScoreReportsInCDScoreLinkFormat"/>
</wsdl:message>
<wsdl:message name="GetScoreReportsInCDScoreLinkFormatSoapOut">
  <wsdl:part name="parameters" element="tns:GetScoreReportsInCDScoreLinkFormatResponse"/>
</wsdl:message>
<wsdl:message name="GetHistoryReportSoapIn">
  <wsdl:part name="parameters" element="tns:GetHistoryReport"/>
</wsdl:message>
<wsdl:message name="GetHistoryReportSoapOut">
  <wsdl:part name="parameters" element="tns:GetHistoryReportResponse"/>
</wsdl:message>
<wsdl:message name="GetHistoryReportGivenCandidateSoapIn">
  <wsdl:part name="parameters" element="tns:GetHistoryReportGivenCandidate"/>
</wsdl:message>
<wsdl:message name="GetHistoryReportGivenCandidateSoapOut">
  <wsdl:part name="parameters" element="tns:GetHistoryReportGivenCandidateResponse"/>
</wsdl:message>
<wsdl:message name="GetNewScoreReportsSoapIn">
  <wsdl:part name="parameters" element="tns:GetNewScoreReports"/>
</wsdl:message>
<wsdl:message name="GetNewScoreReportsSoapOut">
  <wsdl:part name="parameters" element="tns:GetNewScoreReportsResponse"/>
</wsdl:message>
<wsdl:message name="GetReportingDatesSoapIn">
  <wsdl:part name="parameters" element="tns:GetReportingDates"/>
</wsdl:message>
<wsdl:message name="GetReportingDatesSoapOut">
  <wsdl:part name="parameters" element="tns:GetReportingDatesResponse"/>
</wsdl:message>
<wsdl:message name="GetScoreReportsGivenReportingDateSoapIn">
  <wsdl:part name="parameters" element="tns:GetScoreReportsGivenReportingDate"/>
</wsdl:message>
<wsdl:message name="GetScoreReportsGivenReportingDateSoapOut">
  <wsdl:part name="parameters" element="tns:GetScoreReportsGivenReportingDateResponse"/>
</wsdl:message>
<wsdl:portType name="ScoreReportsServices.Soap">
  <wsdl:operation name="GetScoreReportsInCDScoreLinkFormat">
    <wsdl:input message="tns:GetScoreReportsInCDScoreLinkFormatSoapIn"/>
    <wsdl:output message="tns:GetScoreReportsInCDScoreLinkFormatSoapOut"/>
  </wsdl:operation>
  <wsdl:operation name="GetHistoryReport">
    <wsdl:input message="tns:GetHistoryReportSoapIn"/>
    <wsdl:output message="tns:GetHistoryReportSoapOut"/>
  </wsdl:operation>
  <wsdl:operation name="GetHistoryReportGivenCandidate">
    <wsdl:input message="tns:GetHistoryReportGivenCandidateSoapIn"/>
    <wsdl:output message="tns:GetHistoryReportGivenCandidateSoapOut"/>
  </wsdl:operation>
  <wsdl:operation name="GetNewScoreReports">
    <wsdl:input message="tns:GetNewScoreReportsSoapIn"/>
    <wsdl:output message="tns:GetNewScoreReportsSoapOut"/>
  </wsdl:operation>
  <wsdl:operation name="GetReportingDates">
    <wsdl:input message="tns:GetReportingDatesSoapIn"/>
    <wsdl:output message="tns:GetReportingDatesSoapOut"/>
  </wsdl:operation>
  <wsdl:operation name="GetScoreReportsGivenReportingDate">
    <wsdl:input message="tns:GetScoreReportsGivenReportingDateSoapIn"/>
    <wsdl:output message="tns:GetScoreReportsGivenReportingDateSoapOut"/>
  </wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ScoreReportsServices.Soap" type="tns:ScoreReportsServices.Soap">
  <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="GetScoreReportsInCDScoreLinkFormat">
    <soap:operation soapAction="https://ets.org/edm/webservices/GetScoreReportsInCDScoreLinkFormat" style="document"/>
    <wsdl:input>
      <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
      <soap:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="GetHistoryReport">
    <soap:operation soapAction="https://ets.org/edm/webservices/GetHistoryReport" style="document"/>
    <wsdl:input>
      <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
      <soap:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="GetHistoryReportGivenCandidate">
    <soap:operation soapAction="https://ets.org/edm/webservices/GetHistoryReportGivenCandidate" style="document"/>
    <wsdl:input>
      <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
      <soap:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="GetNewScoreReports">
    <soap:operation soapAction="https://ets.org/edm/webservices/GetNewScoreReports" style="document"/>
    <wsdl:input>
      <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
      <soap:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="GetReportingDates">
    <soap:operation soapAction="https://ets.org/edm/webservices/GetReportingDates" style="document"/>
    <wsdl:input>
      <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
      <soap:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="GetScoreReportsGivenReportingDate">
    <soap:operation soapAction="https://ets.org/edm/webservices/GetScoreReportsGivenReportingDate" style="document"/>
    <wsdl:input>
      <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
      <soap:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
</wsdl:binding>
<wsdl:binding name="ScoreReportsServices.Soap12" type="tns:ScoreReportsServices.Soap">
  <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="GetScoreReportsInCDScoreLinkFormat">
    <soap12:operation soapAction="https://ets.org/edm/webservices/GetScoreReportsInCDScoreLinkFormat" style="document"/>
    <wsdl:input>
      <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
      <soap12:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="GetHistoryReport">
    <soap12:operation soapAction="https://ets.org/edm/webservices/GetHistoryReport" style="document"/>
    <wsdl:input>
      <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
      <soap12:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="GetHistoryReportGivenCandidate">
    <soap12:operation soapAction="https://ets.org/edm/webservices/GetHistoryReportGivenCandidate" style="document"/>
    <wsdl:input>
      <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
      <soap12:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="GetNewScoreReports">
    <soap12:operation soapAction="https://ets.org/edm/webservices/GetNewScoreReports" style="document"/>
    <wsdl:input>
      <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
      <soap12:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="GetReportingDates">
    <soap12:operation soapAction="https://ets.org/edm/webservices/GetReportingDates" style="document"/>
    <wsdl:input>
      <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
      <soap12:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="GetScoreReportsGivenReportingDate">
    <soap12:operation soapAction="https://ets.org/edm/webservices/GetScoreReportsGivenReportingDate" style="document"/>
    <wsdl:input>
      <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
      <soap12:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
</wsdl:binding>
<wsdl:service name="ScoreReportsServices.">
  <wsdl:port name="ScoreReportsServices.Soap" binding="tns:ScoreReportsServices.Soap">
    <soap:address location="https://datamanager.ets.org/edmwebservice/edmpraxis.asmx"/>
  </wsdl:port>
  <wsdl:port name="ScoreReportsServices.Soap12" binding="tns:ScoreReportsServices.Soap12">
    <soap12:address location="https://datamanager.ets.org/edmwebservice/edmpraxis.asmx"/>
  </wsdl:port>
</wsdl:service>
</wsdl:definitions>